body {
   
    background: linear-gradient(to bottom, #009933 -18%, #ffffff 100%);
    /* background: linear-gradient(to bottom, #009933 -18%, #f4e1d2 100%); */
    
}


#header {
    width: 100%;
    background-image: url("images/soccer.jpg");
    height: 250px;
    top: 0;
    width: 100%;
    background-size: cover;
    background-position: center; 
    position: relative;
    z-index: 1;
    border-bottom: 6px solid black;
   
}
/* overlay image to make text stand out */
/* .overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
    position: absolute;
    top: 0;
    z-index: 1;
} */

.is-1 {
    padding-top: 80px;
}

h1 {
    font-family: 'Suez One', serif;
    text-align: center;
    text-shadow: -4px -4px 0 #000;
    padding-top: 35px;
    position: relative;
    z-index: 2;
}

h2 {
    font-family: 'Suez One', serif;
}

.SubmitBtn {
    margin-left: 5px;
}

.teamSelection {
    margin-top: 50px;
    text-align: center;
}

#table {
    float: right;
    text-align: left;
}

#upcomingFixture {
    margin-left: 10px;
}

/* put modal window on bottom right corner */
/* #myModal {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#myBtn {
    margin-left: 400px;
}

#fixtureDiv {
    margin-bottom: 20px;
}

#currentWeather {
    margin-bottom: 20px;
}

#forecastWeather {
    margin-bottom: 20px;
}

.homeTeam {
    display: inline-block;
    margin-right: 30px;
    font-size: 24px;
}

.awayTeam {
    display: inline-block;
    font-size: 24px;
}

.vs {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}