body {
    background: linear-gradient(to bottom, #009933 -18%, #ffffff 100%);    
}

#header {
    width: 100%;
    background-image: url("images/soccer.jpg");
    height: 250px;
    top: 0;
    background-size: cover;
    background-position: center; 
    position: relative;
    border-bottom: 6px solid black;
}

.is-1 {
    padding-top: 80px;
}

h1 {
    font-family: 'Suez One', serif;
    text-align: center;
    text-shadow: -4px -4px 0 #000;
    padding-top: 35px;
    position: relative;  
}

h2 {
    font-family: 'Suez One', serif;
}

.teamSelection {
    margin-top: 30px;
    text-align: center;
}

.columns {
    text-align: center;
}

#fixtureDiv {
    margin-bottom: 20px;
}

#currentWeather {
    margin-bottom: 20px;
}

#forecastWeather {
    margin-bottom: 20px;
}

.homeTeam {
    display: inline-block;
    margin-right: 30px;
    font-size: 24px;
}

.awayTeam {
    display: inline-block;
    font-size: 24px;
}

.vs {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

#fs-standings {
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    #header {   
    width: 100%;
    background-image: url("images/soccer.jpg");
    height: 125px;
    top: 0;
    width: 100%;
    background-size: cover;
    background-position: center; 
    position: relative;
    z-index: 1;
    border-bottom: 3px solid black;
}
    .is-1 {
        padding-top: 35px;
    }
}
